{{define "header"}}
<header class="bg-black text-white px-5 py-2 sticky top-0">
  <div class="container mx-auto">
    <nav class="sm:flex justify-between">
      <ul class="flex justify-between z-50 relative">
        <li>
          <a href="/">
            <img class="h-6" src="assets/images/logo.png" alt="Rick and Morty">
          </a>
        </li>
        <button class="sm:hidden" onclick="toggleMenu(this)">☰</button>
      </ul>
      {{ $linkClass := "block sm:inline-block" }}
      <ul id="header-links" class="hidden space-y-2 pt-14 px-5 z-40 fixed inset-0 bg-black sm:z-auto sm:space-y-0 sm:bg-transparent sm:static sm:p-0 sm:flex gap-5">
        <li>
          <a class="{{$linkClass}}" href="/">Home</a>
        </li>
        <li>
          <a class="{{$linkClass}}" href="/characters">Characters</a>
        </li>
        <li>
          <a class="{{$linkClass}}" href="/episodes">Eposides</a>
        </li>
        <li>
          <a class="{{$linkClass}}" href="/locations">Locations</a>
        </li>
      </ul>
      <script>
        function toggleMenu(el) {
          const res = document.getElementById("header-links").classList.toggle("hidden")
          el.innerText = res ? "☰" : "✕" 
          window.document.body.classList.toggle("overflow-hidden")
        }
      </script>
    </nav>
  </div>
</header>
{{end}}
