{{define "head"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Title}}</title>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
    <script src="assets/js/htmx.min@1.9.6.js"></script>
    <link rel="stylesheet" href="assets/css/stylesheet.css">
    <link rel="stylesheet" href="assets/css/tw-build.css">
  </head>
  <body>
{{end}}
